<configuration>
    <system.webServer>
        <isapiFilters>
            <filter name="F5XForwardedFor" enabled="true" enableCache="false" path="D:\home\site\wwwroot\ISAPIFilters\F5XForwardedFor.dll"/>
        </isapiFilters>
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="ISAPIFilters" />
                </hiddenSegments>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
